{{define "userDetailFields"}}
<div class="row">
  <label for="name">Name</label>
  <input class="u-full-width" type="text" id="name" name="name" value="{{.Name}}">
  <label for="email" >Email</label>
  <input class="u-full-width" type="email" id="email" name="email" value="{{.Email}}">
</div>
{{end}}

{{define "passwordField"}}
<label for="{{index . 0}}">{{index . 1}}</label>
<input class="u-full-width" type="password" id="{{index . 0}}" name="{{index . 0}}">
{{end}}

{{define "inlineError"}}
<div class="row">
{{if .Error}}<p style="color:red;" class="u-pull-right">{{.Error}}</p>{{else}}<p></p>{{end}}
</div>
{{end}}

{{define "submitButton"}}
    <input class="button-primary u-pull-right" type="submit" value="{{.}}">
{{end}}

{{define "cancelButton"}}
<a style="margin-right:8px;" class="button u-pull-right" href="{{.}}">Cancel</a>
{{end}}
