{{define "title"}}Welcome{{end}}

{{define "body"}}
<div class="container">
    <h3>Welcome, {{.Name}}.</h3>
    <div class="row">
        <div class="six columns">
            <a class="button u-full-width" href="/edit-user">Edit Information</a> 
        </div>
        <div class="six columns">
            <a class="button u-full-width" href="/change-password">Change Password</a> 
        </div>
    </div>
    {{if .Admin}}
    <div class="row">
        <div class="six columns">
            <a class="button u-full-width">Manage Users</a> 
        </div>
        <div class="six columns">
            <a class="button u-full-width">Add User</a> 
        </div>
    </div>
    {{end}}
</div>

{{end}}

