{{define "title"}}Login{{end}}

{{define "body"}}
<form action="/login" method="POST">
    <div class="row">
        <div class="six columns">
          <label for="email">Email</label>
          <input class="u-full-width" type="email" id="email" name="email">
        </div>
        <div class="six columns">
          <label for="password">Password</label>
          <input class="u-full-width" type="password" id="password" name="password">
        </div>
    </div>
    <input class="button-primary u-pull-right" type="submit" value="sign in">
    <a style="margin: 20px auto;" class="u-cf" href="/register">sign up</a>
    {{if .}}<p style="color: red; text-align: center;">{{.}}</p>{{end}}
</form>
{{end}}


