<!doctype html>
{{define "layout"}}
<html>
<head>
    <meta charset="utf-8">
    <title>{{template "title"}}</title>
    <link rel="stylesheet" href="static/normalize.css">
    <link rel="stylesheet" href="static/skeleton.css">
</head>
<body>
    {{if isLoggedIn}}
    <form action="/logout" method="POST">
        <p class="u-pull-right" style="margin:20px;">
            <button type="submit">sign out</button>
        </p>
    </form>
    {{end}}
    <div class="container" style="padding-top:90px;max-width:800px;">
        {{template "body" .}}
    </div>
</body>
</html>
{{end}}
