{{define "title"}}Manage Users{{end}}

{{define "body"}}
<h2>Manage Users</h2>
<table class="u-full-width">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Admin</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
      {{range .}}
    <tr>
      <th><a href="/edit/uuid">{{.Name}}</a></th>
        <td>{{.Email}}</td>
        <td>{{yesNo .Admin}}</td>
        <td>{{dateTime .Created}}</td>
    </tr>
    {{end}}
  </tbody>
</table>
{{template "cancelButton" "/"}}
{{end}}


