{{define "title"}}Sign up{{end}}

{{define "body"}}
<h2>Register as a New User</h2>
<p>Please fill out the form to create a new account.</p>
<form action="/register" method="POST">
    {{template "userDetailFields" .}}
    {{template "passwordField" many "password" "Password"}}
    {{template "passwordField" many "passwordAgain" "Re-enter Password"}}

    <div class="row" style="margin:20px 0;">
        {{template "submitButton" "Sign up"}}
        {{template "cancelButton" "/"}}
    </div>
    {{template "inlineError" .}}
</form>
<div style="margin-top: 20px;" class="u-cf">
    <p>Already have an account? <a href="/login">Sign in.</a></p>
</div>
{{end}}


