{{define "userDetails"}}
    <div class="row">
      <label for="name" >Name</label>
      <input class="u-full-width" type="text" id="name" name="name" value="{{.Name}}">
      <label for="email" >Email</label>
      <input class="u-full-width" type="email" id="email" name="email" value="{{.Email}}">
      {{if not .HidePassword}}
        <label for="password">Password</label>
        <input class="u-full-width" type="password" id="password" name="password">
        <label for="passwordAgain">Re-enter password</label>
        <input class="u-full-width" type="password" id="passwordAgain" name="passwordAgain">
      {{end}}
    </div>
    <div style="margin-top: 30px;">
        <input class="button-primary u-pull-right" type="submit" value="{{or .SubmitText "Sign up"}}">
    </div>
{{end}}
